body{
    margin:0;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #02716cd5;
}
.main{
    margin-top: 40px;
    position: relative;
    max-width: 600px;
    padding:20px;
    width:100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}
.main header{
    font-size: 1.7rem;
    color:#333;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}
form{
    margin-left: 20px;
}
form label{
    font-size:1.2rem ;
}
.main #one{
    width: 95%;
    height:50px;
    padding: 0 15px;
    outline: none;
    border:1px solid  #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10px;
}
form .contact{
    display: flex;
    column-gap: 40px;
    margin: 20px 0px;   
}
form .name{
    margin: 20px 0px;
}
form .contact #two{
    background-color: #fff;
    color:#707070;
    height:50px;
    padding: 0 15px;
    outline: none;
    border:1px solid  #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 260px;   
}
.gender{
    margin-top: 10px;
}
button{
  margin-left: 24px;  
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background:  #02716cd5;
  border: 1px solid #16a085;
  border-radius: 4px;
  cursor: pointer;
  width:550px;
  height:40px;
}
/*responsive*/
@media screen and (max-width:500px){
    form .contact{
        flex-wrap: wrap;
    }
}

